<!DOCTYPE html>
<html>
<head>
    <title>Display Data with Dropdown</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var data = {{ links }};
            
            function filterData(selectedDate) {
                if (!selectedDate) {
                    return data;
                }
                
                return data.filter(function(item) {
                    return item.date === selectedDate;
                });
            }
            
            function displayData(filteredData) {
                var table = '<table><thead><tr><th>Date</th><th>Title</th><th>URL</th></tr></thead><tbody>';
                filteredData.forEach(function(item) {
                    table += '<tr><td>' + item.date + '</td><td>' + item.title + '</td><td>' + item.url + '</td></tr>';
                });
                table += '</tbody></table>';
                $('#data-table').html(table);
            }
            
            $('#dropdown').change(function() {
                var selectedDate = $(this).val();
                var filteredData = filterData(selectedDate);
                displayData(filteredData);
            });
        });
    </script>
</head>
<body>
    <select id="dropdown">
        <option value="">All Dates</option>
        {% for option in dropdown_options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    
    <div id="data-table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.date }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.url }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
