<!DOCTYPE html>
<html>
<head>
    <title>Display Data with Dropdown</title>
    <script>
            function updateVisited(post_id) {
                fetch(`/click/${post_id}`, {
                    method: 'POST',
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                })
            }

    </script>
</head>
<body>
    <!-- <select id="dropdown">
        <option value="">All Dates</option>
        {% for option in dropdown_options %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select> -->
    
    <div id="data-table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Clicked</th>
                </tr>
            </thead>
            <tbody>
                {% for item in links %}
                    <tr>
                        <td>{{item.time}}</td>
                        <td
                            onclick="updateVisited('{{item.id}}')"
                        ><a href="{{item.url}}" 
                            >{{ item.title }}</a></td>
                        {% if item.visited == True %}
                            <td>(visited)</td>
                        {% else %}
                            <td>(not visited)</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
